# Version control
.git
.gitignore

# Python artefacts
.env
dist/
build/
venv/
venv
.venv/
**/__pycache__
**/*.py[cod]
**/*.pyo

# Editor / IDE
.vscode

# Sphinx build output (not needed in image)
docs/source

# OS files
.DS_Store
Thumbs.db

WebAPP/DataStorage/*
!WebAPP/DataStorage/Parameters.json
!WebAPP/DataStorage/Variables.json\
